# Question #1: Fibonacci series

In [1]:
fibonacci = [0, 1]
for i in range(2, 10):
    new_element = fibonacci[-1]+ fibonacci[-2]
    fibonacci.append(new_element)
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Question #2: Prime numbers

In [2]:
primes=[]
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num**0.5)+1):
        if num % i==0:
            is_prime= False
            break
    if is_prime:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Question #3: Movie Tickets

# Part 1

In [3]:
for i in range(5):
    age = int(input("Enter your age:"))
    if age < 3:
        print("No ticket required for children under 3 years.")
    elif age <= 12:
        print("The movie theatre tickets costs $10.")
    else:
        print("The movie theatre ticket costs $15.")

Enter your age: 3

The movie theatre tickets costs $10.

Enter your age: 14

The movie theatre ticket costs $15.

Enter your age: 24

The movie theatre ticket costs $15.

Enter your age: 36

The movie theatre ticket costs $15.

Enter your age: 45

The movie theatre ticket costs $15.

# Part 2

In [4]:
active = True
while active:
    age = int(input("Enter your age:"))
    if age < 3:
        print("No ticket required for children under 3 years.")
    elif age <= 12:
        print("The movie theatre tickets costs $10.")
    else:
        print("The movie theatre tickets costs $15.")
    continue_prompt = input("Would you like to enter another age? Enter 'no' to quit: ")
    if continue_prompt.lower() == 'no':
        active = False

Enter your age: 12

The movie theatre tickets costs $10.

Would you like to enter another age? Enter 'no' to quit:  yes
Enter your age: 44

The movie theatre tickets costs $15.

Would you like to enter another age? Enter 'no' to quit:  no

# Question #4: Dictionary of cities

In [5]:
cities = {
    'Lahore': {'country': 'Pakistan', 'landmark': 'Minar-e-Pakistan', 'university': 'CUI Lahore Campus'},
    'Karachi': {'country': 'Pakistan', 'landmark': 'Mazar-e-Quaid', 'university': 'Agha Khan University'},
    'Islamabad': {'country': 'Pakistan', 'landmark': 'Faisal Mosque', 'university': 'NUST'},
    'Peshawar': {'country': 'Pakistan', 'landmark': 'Bala Hisar Fort', 'university': 'University of Peshawar'},
    'Quetta': {'country': 'Pakistan', 'landmark': 'Hanna Lake', 'university': 'University of Balochistan'}
}

for city, info in cities.items():
    print(f"The city selected is {city}")
    print("Its information is given below")
    print(f"country: {info['country']}, landmark: {info['landmark']}, university: {info['university']}\n")

The city selected is Lahore
Its information is given below
country: Pakistan, landmark: Minar-e-Pakistan, university: CUI Lahore Campus

The city selected is Karachi
Its information is given below
country: Pakistan, landmark: Mazar-e-Quaid, university: Agha Khan University

The city selected is Islamabad
Its information is given below
country: Pakistan, landmark: Faisal Mosque, university: NUST

The city selected is Peshawar
Its information is given below
country: Pakistan, landmark: Bala Hisar Fort, university: University of Peshawar

The city selected is Quetta
Its information is given below
country: Pakistan, landmark: Hanna Lake, university: University of Balochistan

# Question #5: Dictionary to store peopleâ€™s favourite numbers

In [6]:
persons = {
    'Ammara': [14, 65, 42, 52, 230],
    'Alishba': [10, 0, 26, 75, 13],
    'Hiba': [23, 62, 54, 67, 90],
    'Zara': [33, 65, 56, 78, 43]
}

for name, numbers in persons.items():
    print(f"Person name:  {name}")
    print(f"Maximum value:  {max(numbers)}\n")

Person name:  Ammara
Maximum value:  230

Person name:  Alishba
Maximum value:  75

Person name:  Hiba
Maximum value:  90

Person name:  Zara
Maximum value:  78